body{
    background-color: black;
    background-image: url(file:///E:/Site_Alpha/Images/background_uldah.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
